html,
body {
  height: 100vh;
}

body {
  overflow-y: hidden;
}

/* Agrega una clase para la transición de opacidad */
.dienteTransicion,
.manchaTransicion,
.lenguaTransicion {
  transition: opacity 0.8s ease; /* Puedes ajustar la duración y el tipo de transición según tus necesidades */
}

svg {
  overflow: visible;
}

.parent {
  width: 100%;
  height: auto;
}

#brush-container {
  width: 95%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.hidden {
  opacity: 0;
}
